/* header */

body {
  background-color: black;
}
p {
  color: white;
}

.img-background {
  background-image: url("../../assets/imagenes/Imagen1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 600%;
  margin-bottom: 30px;
}

.empresas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  object-fit: scale-down;
}
.logo-container {
  width: 10vh;
  height: 10vh;
}
.flash-act {
  width: 20vh;
}
.centro-cultural {
  width: 40vh;
}

header {
  display: flex;
}

.info-m p {
  margin-left: 13vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.info-m {
  width: 60%;
  height: 100%;
  text-align: center;
}

.menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-1 {
  top: 40px;
  /* left: 40px; */
  left: 5vw;
}
.menu-2 {
  bottom: 0;
  right: 213px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 125%;
  margin-right: 20px;
  margin-left: 20px;
}
.menu button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.menu-2 a img {
  width: 40%;
  height: 40%;
}
.menu-2 a {
  background-color: white;
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 100% 100% 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* seccion 1 */
.img-background-1 {
  background-image: url("/assets/imagenes/Imagen2.jpg");
}
.center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-big {
  width: 30vh;
  height: 30vh;
  background: transparent linear-gradient(180deg, #02457a 0%, #0b8abe 100%) 0%
    0% no-repeat padding-box;
  border: none;
  border-radius: 100%;
}
.description {
  color: black;
}

/* seccion de video */

.content-all h2 {
  text-align: center;
  font-size: 3em;
  color: white;
  margin-bottom: 60px;
}

/* description */

/* footer */

footer {
  background-color: black;
}
footer h3 {
  font-weight: 100;
  font-size: 2em;
}

h3 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 80px;
}
.logo-big {
  width: 7vw;
  height: 7vw;
}
.logo-big.flash-act {
  width: 16vw;
}
.logo-big.centro-cultural {
  width: 35vw;
}
.equipo-img-container {
  width: 4vw;
  height: 4vw;
}
.equipo-img-container img {
  border: 4px solid white;
  border-radius: 100%;
  object-fit: cover;
}


.container-equipo {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 60px;
}
.equipo-item {
  text-align: center;
}
.equipo-item figure {
  margin: 0 auto 30px auto;
  display: block;
}
.equipo-item h2 {
  margin-bottom: 16px;
}
.equipo-item p {
  font-size: 16px;
}